<%- include('./includes/head') %>
    <body>
        <main>
            <section id="loginbg">
                <form action="/resetPassword" method="POST">
                    <div class="login"> 
                        <% if (errorMessage.length > 0) {%>
                        <div class="user-message user-message--error">
                            <%= errorMessage %>
                        </div>
                        <% } %>
                        <label for="email"><b>Email</b></label>
                        <input
                        class="<%=validationErrors.find(e=>e.path==="email")?'inputError':''%>"
                        type="text" placeholder="Enter Email" name="email"
                        id="email" required value="<%=oldInput.email%>">
                        <button type="submit" class="registerbtn">Submit</button>
                    </div>
                </form>                
            </section>
        </main>
    </body>
</html>