<%- include('./includes/head') %>
    <body>
        <main>
            <section id="loginbg">
                <form action="/updatepassword" method="POST">
                    <div class="login">
                        <label for="password">New Password</label>
                        <input type="password" name="password" id="password">
                        <label for="password">Email Token</label>
                        <input type="password" name="emailtoken" id="emailtoken">
                        <input type="hidden" name="userId" value="<%= userId%>">
                    <button class="registerbtn" type="submit">Güncelle</button>
                    </div>
                </form>                
            </section>
        </main>
    </body>
</html>